{% extends 'movies/base.html' %}

{% block page_content %}
  {% for error in form.non_field_errors %}
    <div class="alert alert-danger position-absolute top-20 start-0 w-100" role="alert">
      {{ error }}
    </div>
  {% endfor %}

  <div class="fill-rest-of-screen-height d-flex justify-content-center align-items-center">
    <form class="bg-warning card p-5" method="post" action="{% url 'users:login' %}">
      {% csrf_token %}
      <h2 class="text-center">Log In</h2>
      <table>
        <tr>
          <td>{{ form.username.label_tag }}</td>
          <td>{{ form.username }}</td>
        </tr>
        <tr>
          <td>{{ form.password.label_tag }}</td>
          <td>{{ form.password }}</td>
        </tr>
      </table>
      <input class="btn btn-primary" type="submit" value="Login" />
    </form>
  </div>
{% endblock %}