{% extends 'movies/base.html' %}

{% block page_content %}
  <div class="d-flex justify-content-center">
    <form class="d-block" method="post" action="{% url 'users:login' %}">
      {% csrf_token %}
      <h2 class="d-block">Log In</h2>
      <table>
        <tr>
          <td>{{ form.username.label_tag }}</td>
          <td>{{ form.username }}</td>
        </tr>
        <tr>
          <td>{{ form.password.label_tag }}</td>
          <td>{{ form.password }}</td>
        </tr>
      </table>
      <input type="submit" value="login" />
    </form>
  </div>
{% endblock %}