{% extends 'movies/base.html' %}

{% block page_content %}
  {% if form.username.errors or form.password1.errors or form.password2.errors %}
    <ul class="alert alert-danger position-absolute top-20 start-0 w-100" role="alert">
      {% for error in form.username.errors %}
        <li class="ms-4">{{ error }}</li>
      {% endfor %}
      {% for error in form.password1.errors %}
        <li class="ms-4">{{ error }}</li>
      {% endfor %}
      {% for error in form.password2.errors %}
        <li class="ms-4">{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <div class="fill-rest-of-screen-height d-flex justify-content-center align-items-center">
    <form class="bg-warning card p-5" method="post" action="{% url 'users:signup' %}">
      {% csrf_token %}
      <h2>Sign Up</h2>
      <table>
        <tr>
          <td>{{ form.username.label_tag }}</td>
          <td>{{ form.username }}</td>
        </tr>
        <tr>
          <td>{{ form.password1.label_tag }}</td>
          <td>{{ form.password1 }}</td>
        </tr>
        <tr>
          <td>{{ form.password2.label_tag }}</td>
          <td>{{ form.password2 }}</td>
        </tr>
      </table>
      <input class="btn btn-primary" type="submit" value="Signup" />
    </form>
  </div>
{% endblock %}